body#shadow {  background-color: gray; }
#all {font-family: 'Roboto Slab'; font-size:14px;}	   

section{
		  max-width: 800px;
		  margin: 0px;
}
p{
		  font-size:14px; 
		  margin:0px;
}
h1{
		  font-size: 50px; 
		  color: white;
		  letter-spacing: 0.01em;
		  margin: 0px;
}
h2{
		  font-size: 30px; 
		  color: white;
		  letter-spacing: 0.1em;
		  margin-left: 5%;
}
h4{
		  color: white;
		  letter-spacing: 0.1em;
		  margin-left: 0px;
}
button label {cursor:pointer;}
#buttons{
	  display: flex; justify-content: center; 
}
footer{
			font-size: 24px;
			text-align: center;
			color: DarkTurquoise;
}
table {border-style:solid; border-color:black; border-width:1px 0px 0px 1px;}
table td {color:white; border-style:solid; border-color:black; border-width:0px 1px 1px 0px;}
#elo{
		  background-color: MediumVioletRed ;
		  font-size:;
		  font-style:;
		  padding: 10px 1px 0px 5px;
}
#valasztok{
		  background-color: DarkTurquoise ;
		  padding: 10px 5px 0px 5px;
}

.jeloltekinfo {	margin:3% 3% 3% 5%;}
big {font-size:150%; color:red}
small {font-size:80%}
img { border: 0 none; }
a {color:white; text-decoration:none}
a:visited {color:white}
a:hover {color:white; text-decoration:underline}
a:active {font-weight:bold}
a.btn-primary, a.btn-primary:visited, a.btn-primary:hover {text-decoration:underline}
.szavazottMar {display:none}

body.contentpane {
	width:auto;
	margin:0px;
	text-align: left;
	background-color:transparent; background-image:none;
}
#contentarea {
	font-size:12px;
	font-weight:normal;
	color: #0E2326;
	line-height:200%;
    background-color:transparent; height:auto; margin:0px 0px 0px 0px}
}



#contentarea2 {background-color:transparent; text-align:left;}
#header {padding:0px}
.skiplinks {display:none}
.unseen {display:none}

#line {display:none}
#wrapper {background-color:transparent}
#content {text-align:left; padding-left:5%;}
.icon-menu {width:20px; height:20px; background-image:url(../images/menu.png); background-position:0px 0px}


.logoheader {height:auto; width:auto; padding:0px; margin:20px 0px 0px 0px; text-align:left}
.logoheader #logo img {width:90%; margin-left:5%}

.userInfo {font-size:1.2em; margin-top:10px;}
.userInfo label {display: inline-block}
.userinfo var {font-weight:bold}

/* rendszer üzenetek */
#system-message ul {width:80%; margin:0px; font-size:130%}
#system-message li {list-style:none;}
dt.info {display:none}
dd.info {display:block; background-color:#c0efc0; margin:5px; padding:10px;
  border-style:none; border-radius:6px;}

.itp-socialbuttons-mod h4 {display:none}

.elovalasztok-gombok {padding:20px 0px 0px 0px; 
     border-style:solid; border-color:white; border-width:3px 0px 0px 0px}
.elovalasztok-gombok button {background-image:none; background-color:transparent; border-style:none;
   height:auto; padding:0px; margin:0px; font-size:100%}

.elovalasztok-gombok br {display:none}   
.elovalasztok-gombok button i {display:none}
.elovalasztok-gombok div i {display:none}
.elovalasztok-gombok button label {margin:0px;}
.elovalasztok-gombok button:hover label {text-decoration:underline}
.elovalasztok-gombok button  {background-color:white; color:rgb(51,51,51); 
       font-size:14px; font-weight:400;
       padding:6px 12px 6px 12px; border-radius:4px; margin:7px; width:auto; height:auto}

.elovalasztok-gombok #loginBtn {background-color:rgb(217, 83, 79); color:white; font-size:12px;
       font-size:14px; font-weight:400;
       padding:6px 12px 6px 12px; border-radius:4px; margin:7px; width:auto; height:auto}
.elovalasztok-gombok #logoutBtn {background-color:rgb(217, 83, 79); color:white; font-size:12px;
       font-size:14px; font-weight:400;
       padding:6px 12px 6px 12px; border-radius:4px; margin:7px; width:auto; height:auto}
.elovalasztok-gombok #szavazokBtn {background-color:#c0eec0; color:black; font-size:12px;
       font-size:14px; font-weight:400;
       padding:6px 12px 6px 12px; border-radius:4px; margin:7px; width:auto; height:auto}

.elovalasztok-gombok button[disabled=disabled] {background-color:#e0e0e0}

#elovalasztok-gombok .nemszavazhat {display:inline-block; background-color:transparent; color:white; font-size:12px;
  border-style:solid; border-width:1px; border-radius:4px;
  padding:4px 12px 4px 12px; margin:10px 0px 0px 0px; cursor:default}
#elovalasztok-gombok .nemszavazhat label {padding:0px; margin:0px; cursor:default}  


#lablec a {display:inline-block; width:auto; height:auto;}	  
.alsoGombok {text-align:center; padding:20px 0px 0px 0px;
      border-style:solid; border-color:white; border-width:3px 0px 0px 0px}
.alsoGombok .elovalasztok-gombok button {width:auto; margin-right:20px;}
.alsoGombok .elovalasztok-gombok button  i {background-color:transparent}
.alsoGombok .elovalasztok-gombok button label {display:none;}
.alsoGombok a {font-size:14px; font-weight:400;}
a.impresszumLink {background-color:white; color:black;
  padding: 0px 12px 0px 12px; border-radius:4px;}
a.impresszumLink:visited {color:black}
a.impresszumLink:hover {color:black; text-decoration:underline}  
.felhasznLink {background-color: rgb(51, 122, 183); color:white;
  padding: 0px 12px 0px 12px; border-radius:4px;}
.felhasznLink:hover {color:white; text-decoration:underline}  
.adatkezelesLink {background-color: rgb(240, 173, 78); color:white;
  padding: 0px 12px 0px 12px; border-radius:4px;}
.adatkezelesLink:hover {color:white; text-decoration:underline}  

			 
#rightbar-w ul.nav {border-style:solid; border-width:1px; padding:0px; font-size:110%; background-color:#33AC4B}
#rightbar-w ul.nav li {border-style:solid; border-width:0px 0px 1px 0px; border-color:white; padding:3px;}
#sidebar .module ul.menu li a {background-color:transparent; color:white}

#logoutScreen {margin:50px 100px 50px 50px; padding:50px; border-style:none; border-width:1px; color:white}

.jeloltkereses {border-style:solid; border-width:1px; padding:2px; margin-top:20px; background-color:transparent}
.jeloltkereses h2 {font-size:120%; text-align:center;}

.item-separator {display:block; border-style:solid; border-width:1px 0px 0px 0px;}

.tamogatas {text-align:right;}
.tamogatas a {text-decoration:none}

/* kategória lista */
.blogvk h2 {margin-left:0px;}
.blog .cat-children h3 {display:none}
.blog  li {list-style:none; font-size:120%; margin-bottom:20px;}
.blog .jeloltekinfo label {display:inline-block; width:auto}
.blog .jeloltekinfo var {font-size:100%}
.pull-left {margin: 5px 5px 5px 0px}
#alternativak .icons {display:none}
#alternativak .javaslat {background-color:#d0d0d0}
#alternativak .alternativa {background-color:transparent}
#alternativak .javaslatControl {text-align:right; padding:2px;}
.items-leading img {max-width:25%; margin:5px; float:left}
.item-title {font-size:150%}
.jcomments-links {display:none}

/* jelölt oldal */
.category-desc {color:white;}
.items-leading {color:white;}
.item-pagevk {color:white;}
.item-pagevk img {max-width:25%}
.itp-social-buttons-box {margin-bottom:10px}

/* comment form */
#comments-form input {border-style:solid; border-width:1px; border-color:black}
#comments-form textarea {border-style:solid; border-width:1px; border-color:black}
#comments-form .btn div {background-image:none}
#comments-form .btn {background-image:none; background-color: #B1D0DB}

/* szavazó form */
#szavazatForm {margin-bottom:40px;}
#szavazoKepernyo h2 {margin-left:0px;}
#preftable {margin-bottom:10px;}
#preftable th {background-color:#B6C6C5; color:black; padding-left:5px; border-color:black;}
#preftable td {background-color:white; color:black; padding-left:5px; border-color:black;}
#preftable select {background-color:white; color:black; }
#voksHelp {color:white;}
.ui-sortable var {color:black; margin-left:5px;}

@media (min-width: 800px) and (max-width: 1199px) {
	#prefList label {width:500px}
}
@media (min-width: 600px) and (max-width: 799px) {
	#prefList label {width:300px}
}
@media (min-width: 400px) and (max-width: 599px) {
	#prefList label {width:100px}
}
@media (min-width: 100px) and (max-width: 399px) {
	#prefList label {width:90px}
}


#searchForm .only {display:none}

/* szervezet logok */

.logok {clear:both; margin-top:10px; line-height:150%}
li.tag-list0 {list-style:none; display:inline-block; width:auto; margin:1px;}
li.tag-list0 a.label {color:white; margin-left:1px;}
ul.inline>li a.label {background-image:none; background-color:transparent; border-style:none; color:white;}
ul.inline>li.tag-2 {background-image:url('../images/logo/mszp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-3 {background-image:url('../images/logo/lmp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-4 {background-image:url('../images/logo/parbeszed_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-5 {background-image:url('../images/logo/egyutt_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-6 {background-image:url('../images/logo/fidesz_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-7 {background-image:url('../images/logo/kdnp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-8 {background-image:url('../images/logo/jobbik_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-9 {background-image:url('../images/logo/dk_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-10 {background-image:url('../images/logo/liberalisok_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-11 {background-image:url('../images/logo/moma_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-12 {background-image:url('../images/logo/momentum_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-13 {background-image:url('../images/logo/vm_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-14 {background-image:url('../images/logo/fuggetlenek_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-15 {background-image:url('../images/logo/mszdp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-16 {background-image:url('../images/logo/balpart_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 80px; background-position:0px 4px}
ul.inline>li.tag-17 {background-image:url('../images/logo/mkp_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-18 {background-image:url('../images/logo/eubalpart_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}
ul.inline>li.tag-19 {background-image:url('../images/logo/ketfarku_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 46px;}
ul.inline>li.tag-20 {background-image:url('../images/logo/kalozpart_logo.png'); background-color:transparent; background-repeat:no-repeat;
    height:32px; padding: 8px 5px 5px 38px;}

/* eredmeny */
.pollResult {width:100%}
.pollResult th {background-color:#B6C6C5; padding:2px 5px 2px 5px;}
.pollResult .pozicio {color:white; border-color:black;}
.pollResult .pozicio {text-align:center; width:50px;}
.pollResult .nev {padding:2px 2px 2px 15px}
.pollResult .info {text-align:center; width:180px;}	
#eredmenyInfo .right {padding:2px 5px 2px 5px; text-align:center}
#eredmenyInfo .red {background-color:#E0c0c0; color:black;}
#eredmenyInfo .green {background-color:#c0e0c0; color:black;}
#eredmenyInfo .white {background-color:#ffffff; color:black;}
.pollLeiras {margin-left:50px; text-decoration:italic}

/* reszponziv elrendezesek*/
	
/* két oszlopos elrendezés */	
@media (min-width: 1200px)	{
   #all {width:800px}	   
   #contentarea {width:100%}
   #contentarea2 {padding:10px 20px 10px 20px;}
   #wrapper {width:100%;}
   #main {padding-right:10px;}
   #content {min-height:400px;}
   #prefList label {width:550px}
}
/* két oszlopos elrendezés menu poup és oldalsó ikonok */
@media (min-width: 560px) and (max-width: 1199px) {
   #all {width:90%; min-width: 550px; max-width:800px; }	   
   #body {width:100%}	
   #contentarea {width:100%;}
   #contentarea2 {padding:5px 5px 5px 5px;}
   #wrapper {width:100%;}
   #main {padding-right:5px;}
   .itp-sb-left {margin-left:20px;}
   .share h3 {font-size:10px;}
}
/* egy oszlopos elrendezés csak menu popup */
@media (max-width: 559px) {
  .logoheader {height:auto;}
   #contentarea {width:100%;}
   #contentarea2 {padding:5px 5px 5px 5px;}
   #wrapper {width:100%;}
   #main {padding-right:5px;}
}

/* Checkbox Hack */

.toggle {
    display:none;
}

/* Default State */
.additional-content {
   display: none;
}
.hider { display:block; cursor:pointer; text-align:right; margin-right:10px; }
.shower {display:none; cursor:pointer; text-align:right; margin-right:10px; }

/* Toggled State */
.toggle:checked ~ .additional-content {
   display:block;
}

.toggle:checked ~ .shower {   display:block;}
.toggle:checked ~ .hider {   display:none;}

